# Keypirinha Plugin: {{package_name}}

This is {{package_name}}, a plugin for the
[Keypirinha](http://keypirinha.com) launcher.

**TODO:** write a brief description of this package. Optionally add a
screenshot.


## Download

**TODO:** indicate where the latest `.keypirinha-package` file can be
downloaded. For example a URL to the `releases` list like:
https://github.com/USERNAME/keypirinha-PACKAGE/releases


## Install

Once the `{{package_name}}.keypirinha-package` file is installed,
move it to the `InstalledPackage` folder located at:

* `Keypirinha\portable\Profile\InstalledPackages` in **Portable mode**
* **Or** `%APPDATA%\Keypirinha\InstalledPackages` in **Installed mode** (the
  final path would look like
  `C:\Users\%USERNAME%\AppData\Roaming\Keypirinha\InstalledPackages`)


## Usage

**TODO:** list the items, if any, inserted to the Catalog by the plugin(s) of
this package. Some plugins only make suggestions, in which case a description of
what kind of suggestions are to be expected by the user may help.


## Change Log

**TODO:** describe notable changes for each release. Below is a template for
version 1.0.

### v1.0

* Added foo item
* Fixed bug that was doing bad things when item "bar" was selected


## License

**TODO:** recommended section. Below is an example that goes with the default
LICENSE file (MIT license). Do not forget to add your name in the `LICENSE`
file!

This package is distributed under the terms of the MIT license.


## Credits

**TODO:** optional section.


## Contribute

**TODO:** optional section. Below is a template example, based on the one found
in Keypirinha's Packages repository.

1. Check for open issues or open a fresh issue to start a discussion around a
   feature idea or a bug.
2. Fork this repository on GitHub to start making your changes to the **dev**
   branch.
3. Send a pull request.
4. Add yourself to the *Contributors* section below (or create it if needed)!
