# Keypirinha Plugin: {{package_name}}

This is {{package_name}}, a plugin for the
[Keypirinha](http://keypirinha.com) launcher.

**TODO** here, write a description of your package:

* What it does
  So users know if your package fits their needs

* What items are added to Keypirinha's *Catalog*
  So users precisely know what to do at first use.
  Note that detailed documentation related to configuration should be located in
  the configuration file(s) as comments

* Things you may want to consider as well:
  - Add a screenshot that worths a thousand words
  - Add a *Change Log* section, so users can have a quick overview of what's new
  - Add a *License* section, so users know about what they can/cannot do with
    your package
  - Add a *Credits* section
  - Add a *Contribute* section, so third-party developers have some guidelines
    in case they wish to improve/fix your package (e.g. how to report bug, what
    git branch to fork, ...)
